.app-header {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #eee;
  padding: 20px 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a { 
  font-size: 24px; 
  font-weight: bold; 
  letter-spacing: 2px; 
  color: var(--primary-color);
  text-decoration: none;
}

.main-nav a, .auth-links a { 
  margin: 0 15px; 
  text-decoration: none; 
  color: #333; 
  font-weight: 500;
}

.auth-links {
  color: var(--label-color);
}
